workflow.json
{
  "name": "Resume maker - My copy",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Resume",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "requiredField": true
            },
            {
              "fieldLabel": "Degree/Course",
              "requiredField": true
            },
            {
              "fieldLabel": "Skills",
              "requiredField": true
            },
            {
              "fieldLabel": "Experience",
              "requiredField": true
            },
            {
              "fieldLabel": "Contact Number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        192,
        -272
      ],
      "id": "0e525dc8-2652-45b4-a25d-4e3e7bcc7799",
      "name": "On form submission",
      "webhookId": "f43daba7-27fa-40a4-94eb-24f19bf10172"
    },
    {
      "parameters": {
        "operation": "URL/HTML to PDF",
        "convertType": "htmlToPDF",
        "html": "={{ $json.html }}",
        "advancedOptions": {}
      },
      "type": "n8n-nodes-pdfco.PDFco Api",
      "typeVersion": 1,
      "position": [
        992,
        -272
      ],
      "id": "0127e537-2ea5-4fa3-9a57-9ff5b7d01c66",
      "name": "PDFco Api"
    },
    {
      "parameters": {
        "html": "{{ $json.output }}"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        768,
        -272
      ],
      "id": "1a8e7646-b441-4554-b554-e673c4d73857",
      "name": "HTML1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=make a clean resume with these informations, {{ $json[\"Full Name\"] }}, {{ $json.Email }}, {{ $json[\"Degree/Course\"] }},{{ $json.Skills }}, {{ $json.Experience }}, {{ $json[\"Contact Number\"] }}, make html template and also the template design will be based on inputs. return only the html and dont input unnecesarry informations.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        -272
      ],
      "id": "37f18840-9d28-40a8-af39-10b3dd456e0e",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        432,
        -48
      ],
      "id": "f47ca334-1445-4545-b9c0-48d7dbd8f7f5",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "imv5J2MbVhv6eWDd",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        560,
        -48
      ],
      "id": "fc7fdcd0-21c3-4678-8dba-a98706a6d068",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "subject": "Your resume PDF is here!",
        "message": "={{ $json.url }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1216,
        -272
      ],
      "id": "d06d5124-28ae-4a05-a46a-0477c3715e93",
      "name": "send pdf to gmail",
      "webhookId": "9c546c36-3b37-4f2b-ae23-8bea3d7464cf",
      "notesInFlow": false
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFco Api": {
      "main": [
        [
          {
            "node": "send pdf to gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "PDFco Api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6108c4d3-2748-4239-bb57-8a919fa39327",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ecd2326bb24fa4e39df44384a93fd055843ffff9d9adcd7eecb4471734b31dc"
  },
  "nodeGroups": [],
  "id": "4pzGaSbpi99DoVsq",
  "tags": []
}